
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');



*{
    margin: 0;padding: 0;
    font-family: 'Roboto Slab', serif;
    
}


.ad{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
      
}
.ad img{
    width: 30vw;
}
.ads img{
    height: 70vh;
}

.center{
    position: absolute;
    top: 33%;
    width: 50%;
    left: 0;
    color: white;
    text-align: center;
    align-items: center;
}
.center h1{
    margin-bottom: 20px;
}
.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px;
}
.features span{
    padding: 20px;
    background-color: white ;
}

#ctgr{
    margin: 20px 40px;
    display: flex;
    justify-content: center;
}
#ctgr h1{
    margin: 20px 0px;

}

.pr-ctgr{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: start;
}
.ctgr-card{
    margin: 2% 3%;
}
.ctgr-card img{
    width: 112px;
}

.fp{
    text-transform: uppercase;
    margin: 20px 40px;
}

.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3px 60px;
}
.prd-card{
    margin: 3% 3%;
}

.prd-card img{
    width: 200px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    
    
    background-color: rgb(61 70 77);
    color: white;
    justify-content: space-evenly;
  
}
.footer-item{
    display: block;
    margin: 10px 20px;
    line-height: 2;
    max-width: 30vw;
}

.footer-item a{
    display: block;
    color: white;
    margin: 6px 0px;
   
}
.footer-item a:hover{
    color: orangered;
}

.hover-black:hover{
    color: black;
}
.hover-black{
    color: white;
}
