*{
    margin: 0;padding: 0;
    
}
.container{
    background-color: rgb(240, 240, 240);
}
.fnavbar{
    display: flex;
    background-color: rgb(240, 240, 240);
    height: auto;
    width: auto;
    justify-content: center;

}
.fnavbar .item{
    display: inline-flex;
    margin: 10px;
    background-color: white;
    padding: 5px;

}

.combine-navbar{
    position: sticky;
    top: 0;
    z-index: 9;
}

.snavbar{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.snavbar .logo:hover{
    color: orangered;
    font-weight: 900;
    cursor: pointer;
}

.snavbar .logo{
    margin: 20px;
    font-size: 19pt;
    font-weight: 900;
    letter-spacing: 1px;
    color: orangered;
}
.snavbar .search input{
    width: 30vw;
    height: 20px;
}
.snavbar .care{
    color: black;
    margin: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    
  }
  .fa-bars{
    margin-right: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: orangered;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
.fad, .sad, .tad{
    position: relative;
    color: white;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
}

.fad .centered{
    position: relative;
   background: url(carousel-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    display: grid;
    height: 244px;
}
.sad .centered{
    position: relative;
   background: url(carousel-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    display: grid;
    margin-top: 10px;
    height: 244px;
}
.tad .centered{
    position: relative;
   background: url(carousel-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 10px;
    align-items: center;
    display: grid;
    height: 244px;
    margin-bottom: 10px;
}

.centered button{
    padding: 13px 35px;
    color: white;
    font-weight: 900;
    background: transparent;
    font-size: 16pt;
    margin-top: 30px;
    position: relative;
    display: inline-flex;
    color: white;
}
.centered button:hover{
    background-color: rgba(231, 72, 14, 0.479);
}
.centered h1{
    margin-top: 20px;
}
.centered p{
    margin-top: 30px;
    font-size: 13pt;
    font-weight: 500;
}
.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px;
}
.features span{
    padding: 20px;
    background-color: white ;
}

#ctgr{
    margin: 20px 40px
}
#ctgr h1{
    margin: 20px 0px;
}
.pr-ctgr{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.ctgr-card{
    display: flex;
    margin: 20px 40px;
    background-color: white;
}
.ctgr-card img{
    width: 100px;
}

.fp{
    text-transform: uppercase;
    margin: 20px 40px;
}

.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3px 60px;
}
.prd-card{
    margin: 20px 40px;
}

.prd-card img{
    width: 200px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 10px;
    background-color: rgb(61 70 77);
    color: white;
    justify-content: space-evenly;
  
}
.footer-item{
    display: block;
    margin: 10px 20px;
    line-height: 2;
    max-width: 20vw;
}

.footer-item a{
    display: block;
    color: white;
    margin: 6px 0px;
   
}
.footer-item a:hover{
    color: orangered;
}
/*

.address{
    margin: 10px 20px;
}

.quickshop{
    display: block;
    margin: 10px 20px;
}

.myaccount{
    margin: 10px 20px;
}

.newsletter{
    margin: 10px 20px;
}

.quickshop a{
    display: block;
    color: white;
    margin: 6px 0px;
}
.myaccount a{
    display: block;
    color: white;
    margin: 6px 0px;
} */
